<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include1 :: header('新增部门')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-dept-add">
			<input id="treeId" name="periodId" type="hidden" th:value="1"   />
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">考评期间：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="title" id="periodName" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">开始时间：</label>
				<div class="col-sm-8">
					<input class="form-control" type="date" name="startTime" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">结束时间：</label>
				<div class="col-sm-8">
					<input class="form-control" type="date" name="endTime" required>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include1 :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "system/period";

		// $("#form-dept-add").validate({
		// 	onkeyup: false,
		// 	rules:{
		// 		deptName:{
		// 			remote: {
		//                 url: prefix + "/checkDeptNameUnique",
		//                 type: "post",
		//                 dataType: "json",
		//                 data: {
		//                 	"parentId": function() {
		//                 		return $("input[name='parentId']").val();
		//                     },
		//                 	"deptName" : function() {
		//                         return $.common.trim($("#deptName").val());
		//                     }
		//                 },
		//                 dataFilter: function(data, type) {
		//                 	return $.validate.unique(data);
		//                 }
		//             }
		// 		},
		// 		orderNum:{
		// 			digits:true
		// 		},
		// 		email:{
        //             email:true,
        // 		},
        // 		phone:{
        // 			isPhone:true,
        // 		},
		// 	},
		// 	messages: {
		//         "deptName": {
		//             remote: "部门已经存在"
		//         }
		//     },
		//     focusCleanup: true
		// });

		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/addPeriod", $('#form-dept-add').serialize());
	        }
	    }

		/*部门管理-新增-选择父部门树*/
		function selectDeptTree() {
			var options = {
				title: '部门选择',
				width: "380",
				url: prefix + "/selectDeptTree/" + $("#treeId").val(),
				callBack: doSubmit
			};
			$.modal.openOptions(options);
		}

		function doSubmit(index, layero){
			var body = layer.getChildFrame('body', index);
   			$("#treeId").val(body.find('#treeId').val());
   			$("#treeName").val(body.find('#treeName').val());
   			layer.close(index);
		}
	</script>
</body>
</html>
