<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <th:block th:include="include1 :: header('用户列表')" />
    <th:block th:include="include1 :: layout-latest-css" />
    <th:block th:include="include1 :: ztree-css" />

    <style>
        .select-list ul li {
            padding:0 20px;
            line-height: 40px;
        }
    </style>
</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-grid"></i> 考评期间管理
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
        </div>
    </div>
</div>
                <form id="period-form">
                    <input type="hidden" id="periodId" name="periodId">
                    <input type="hidden" id="parentId" name="parentId">
                    <input type="hidden" id="cla" name="cla" value="period">
                </form>
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">

            <div class="col-sm-12 search-collapse">
                <form id="add-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                考核期间：<span id="span1"></span>
                            </li>
                            <li>
                                开始时间：<span id="span2"></span>
                            </li>
                            <li>
                                结束时间：<span id="span3"></span>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>


            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success disabled" onclick="$.operate.addPeriodUser($('#periodId').val())">
                    <i class="fa fa-plus"></i> 添加考评指标
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include1 :: footer" />
<th:block th:include="include1 :: layout-latest-js" />
<th:block th:include="include1 :: ztree-js" />

<script th:inline="javascript">
    var editFlag = true;
    var removeFlag = true;
    var resetPwdFlag = true;
    var prefix = ctx + "system/period";
    var prefix2 = ctx + "system/target";

    $(function() {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 185 });
        // 回到顶部绑定
        if ($.fn.toTop !== undefined) {
            var opt = {
                win:$('.ui-layout-center'),
                doc:$('.ui-layout-center')
            };
            $('#scroll-up').toTop(opt);
        }
        //queryUserList();
        queryTargetList();
        queryDeptTree();

    });


    function queryTargetList() {
        var options = {
            url: prefix2 + "/list",
            createUrl: prefix2 + "/add/{id}",
            addPeriodUrl: prefix2 + "/addPeriod/{id}",
            addPeriodUserUrl: prefix + "/addPeriodTarget/{id}",
            pageSize: 100,
            clickToSelect: false,
            showToggle: false,
            showRefresh: false,//是否显示刷新按钮
            showSearch: false,//搜索按钮
            showColumns: false,//列选择
            modalName: "指标",
            columns: [
                {
                checkbox: true
            },
                {
                    field: 'targetId',
                    title: '指标ID',
                    width: '10%'
                },
                {
                    field: 'content',
                    title: '内容'
                }
            ],
            onClickCell: function(field, value, row, $element) {
                console.log("onClickCell");
                console.log(field,"hahahha");
                if(field == 'content') {
                    $element.attr('contenteditable', true);
                    $element.blur(function () {
                        let index = $element.parent().data('index');
                        let tdValue = $element.html();
                        $.table.editCell(index, field, tdValue);
                    })
                }
                setTimeout(function(){
                    alert(JSON.stringify($.table.getTableData($('table').attr("id"))));
                },5000);
            }
        };
        $.table.init(options);
    }



    function queryUserList() {
        var options = {
            url: prefix + "/list",
            modalName: "指标",
            showRefresh: false,  //是否显示刷新按钮
            clickToSelect: false,
            columns: [{
                field: 'selectItem',
                checkbox: true
            },
                {
                    field: 'periodId',
                    title: '指标ID'
                },
                {
                    field: 'title',
                    title: '内容'
                },
                {
                    field: 'startTime',
                    title: '开始时间'
                },
                {
                    field: 'endTime',
                    title: '结束时间'
                }
            ],

        };
        $.table.init(options);

    }

    function queryDeptTree()
    {
        var url = ctx + "system/period/treeData";
        var options = {
            url: url,
            expandLevel: 2,
            onClick : zOnClick
        };
        $.tree.init(options);

        function zOnClick(event, treeId, treeNode) {
            $("#periodId").val(treeNode.id);
            $("#parentId").val(treeNode.pId);
            if($.operate.isEmpty($("#parentId").val())){
                $(".btn-success").addClass("disabled")
            }else {
                $('#span1').html(treeNode.name)
                $('#span2').html(treeNode.startTime)
                $('#span3').html(treeNode.endTime)
                $(".btn-success").removeClass("disabled")
            }
            $.table.search("period-form");
        }
    }

    $('#btnExpand').click(function() {
        $._tree.expandAll(true);
        $(this).hide();
        $('#btnCollapse').show();
    });

    $('#btnCollapse').click(function() {
        $._tree.expandAll(false);
        $(this).hide();
        $('#btnExpand').show();
    });

    $('#btnRefresh').click(function() {
        queryDeptTree();
    });

    /* 用户管理-部门 */
    function dept() {
        var url = ctx + "system/dept";
        $.modal.openTab("部门管理", url);
    }

    /* 用户管理-重置密码 */
    function resetPwd(userId) {
        var url = prefix + '/resetPwd/' + userId;
        $.modal.open("重置密码", url, '800', '300');
    }

    /* 用户管理-分配角色 */
    function authRole(userId) {
        var url = prefix + '/authRole/' + userId;
        $.modal.openTab("用户分配角色", url);
    }

    /* 用户状态显示 */
    function statusTools(row) {
        if (row.status == 1) {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.userId + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.userId + '\')"></i> ';
        }
    }

    /* 用户管理-停用 */
    function disable(userId) {
        $.modal.confirm("确认要停用用户吗？", function() {
            $.operate.post(prefix + "/changeStatus", { "userId": userId, "status": 1 });
        })
    }

    /* 用户管理启用 */
    function enable(userId) {
        $.modal.confirm("确认要启用用户吗？", function() {
            $.operate.post(prefix + "/changeStatus", { "userId": userId, "status": 0 });
        })
    }
</script>



</body>
</html>



















<!--<head>
    <th:block th:include="include1 :: header('部门列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="dept-form">
                <div class="select-list">
                    <ul>
                        <li>
                            部门名称：<input type="text" name="deptName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add(100)" shiro:hasPermission="system:dept:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="system:dept:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-info" id="expandAllBtn">
                <i class="fa fa-exchange"></i> 展开/折叠
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-tree-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include1 :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "system/target"
    $(function() {
        var options = {
            code: "targetId",
            parentCode: "parentId",
            uniqueId: "targetId",
            url: prefix + "/list",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove/{id}",
            modalName: "部门",
            columns: [{
                field: 'selectItem',
                radio: true
            },
                {
                    field: 'content',
                    title: '部门名称',
                    align: "left"
                }
                ]
        };
        $.treeTable.init(options);
    });
</script>
</body>
</html>
-->
